---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col-md-9 main-content">

      {% for post in paginator.posts %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="{{post.url | prepend:site.baseurl}}">{{post.title}}</a>
            <small class="pull-right"><i class="fa fa-calendar"></i> {{post.date | date: "%F"}}</small>
          </h3>
        </div>
        <div class="panel-body">
          {{post.excerpt}}
        </div>
        <div class="panel-footer">
          {% include category.html %}
          &nbsp;&nbsp;&nbsp;&nbsp;
          {% include tag.html %}
          <a class="pull-right" href="{{post.url | prepend:site.baseurl}}">
            <i class="fa fa-newspaper-o"></i> 查看全文
          </a>
        </div>
      </div>
      {% endfor %}

      <!-- Pagination links -->
      <nav class="text-center">
        <ul class="pagination">
          {% if paginator.previous_page %}
          <li><a href="/index.html"><i class="fa fa-angle-double-left"></i></a></li>
          <li><a href="{{ paginator.previous_page_path }}"><i class="fa fa-angle-left"></i></a></li>
          {% else %}
          <li class="disabled"><a href="/index.html"><i class="fa fa-angle-double-left"></i></a></li>
          <li class="disabled"><a href="{{ paginator.previous_page_path }}"><i class="fa fa-angle-left"></i></a></li>
          {% endif %}
          <li class="active"><span class="page_number "> {{ paginator.page }}/{{ paginator.total_pages }} </span></li>
          {% if paginator.previous_page %}
          <li><a href="{{ paginator.next_page_path }}"><i class="fa fa-angle-right"></i></a></li>
          <li><a href="/page{{ paginator.total_pages }}"><i class="fa fa-angle-double-right"></i></a></li>
          {% else %}
          <li class="disabled"><a href="{{ paginator.next_page_path }}"><i class="fa fa-angle-right"></i></a></li>
          <li class="disabled"><a href="/page{{ paginator.total_pages }}"><i class="fa fa-angle-double-right"></i></a></li>
          {% endif %}
        </ul>
      </nav>

    </div><!-- /.main-content -->


    <div class="col-md-3 sidebar">
      <div class="panel panel-primary recent-posts">
        <div class="panel-heading"><i class="fa fa-pencil-square-o"></i> Recent Posts</div>
        <div class="list-group">
          {% for post in site.posts offset:0 limit:10  %}
          <a class="list-group-item" href="{{ post.url }}">{{ post.title }}</a>
          {% endfor %}
        </div>
      </div><!-- /.recent-posts -->

      <div class="panel panel-info categories">
        <div class="panel-heading"><i class="fa fa-th-list"></i> Categories</div>
        <div class="list-group">
          {% for category in site.categories order:ascending %}
          <a class="list-group-item" href="{{ root_url }}/{{ site.category_dir }}#{{ category | first }}">
            <span class="name">{{ category | first }}</span>
            <span class="badge">{{ category | last | size }}</span>
          </a>
          {% endfor %}
        </div>
      </div><!-- /.categories -->

      <div class="panel panel-success tags">
        <div class="panel-heading"><i class="fa fa-tags"></i> Tags</div>
        <div class="panel-body">
          {% assign first = site.tags.first %}
          {% assign max = first[1].size %}
          {% assign min = max %}
          {% for tag in site.tags offset:1 %}
            {% if tag[1].size > max %}
              {% assign max = tag[1].size %}
            {% elsif tag[1].size < min %}
              {% assign min = tag[1].size %}
            {% endif %}
          {% endfor %}

          {% if max == min %}
              {% assign diff = 1 %}
          {% else %}    
              {% assign diff = max | minus: min %}
          {% endif %}

          {% for tag in site.tags %}
            {% assign temp = tag[1].size | minus: min | times: 36 | divided_by: diff %}
            {% assign base = temp | divided_by: 4 %}
            {% assign remain = temp | modulo: 4 %}
            {% if remain == 0 %}
              {% assign size = base | plus: 9 %}
            {% elsif remain == 1 or remain == 2 %}
              {% assign size = base | plus: 9 | append: '.5' %}
            {% else %}
              {% assign size = base | plus: 10 %}
            {% endif %}
            {% if remain == 0 or remain == 1 %}
              {% assign color = 9 | minus: base %}
            {% else %}
              {% assign color = 8 | minus: base %}
            {% endif %}
            <a href="{{root_url}}/{{site.tag_dir}}#{{tag[0]}}" style="font-size:{{size}}pt; color:#{{color}}{{color}}{{color}};">{{tag[0]}}</a>
          {% endfor %}
        </div>
      </div><!-- /.tags -->
    </div><!-- /.sidebar -->

  </div><!-- /.row -->
</div><!-- /.container -->
