---
layout: default
---

<div class="container">
  <div class="page-header">
    <small class="pull-right text-primary"><i class="fa fa-calendar"></i> {{page.date | date: "%F"}}</small>
    <h1>{{page.title}}</h1>
  </div>
  <div class="row">
    <div class="col-md-9 main-content post">
      <div class="row" style="margin-bottom:20px;">
        <div class="col-md-6 text-left">{% include category.html %}</div>
        <div class="col-md-6 text-right">{% include tag.html %}</div>
      </div>
      <article>{{content}}</article>
      <hr/>
      {% include post-prev-next.html %}
    </div>
    <div class="col-md-3 sidebar">
      <div id="content-wrapper" class="panel panel-primary content">
        <div class="panel-heading"><i class="fa fa-list"></i> Content</div>
        <ul id="content-side" class="list-group"></ul>
      </div><!-- /.content -->
      {% include post-related.html %}
    </div>
  </div><!-- /.row -->
</div>
<script>
/**
 * target _blank
 */
(function() {
  var aTags = document.querySelectorAll('article a:not([id])')
  for (var i = 0; i < aTags.length; i++) {
      aTags[i].setAttribute('target', '_blank')
  }
  moveTOC();
}());
function moveTOC() {
  if(document.querySelector('#markdown-toc') !== null) {
    var TOCString = document.querySelector('#markdown-toc').innerHTML
    var contentUl = document.querySelector('#content-side');
    contentUl.insertAdjacentHTML('afterbegin', TOCString);

    var items = document.querySelectorAll('#content-side>li');
    for (var i = 0; i < items.length; i++) {
      items[i].classList.add('list-group-item');
    }
  } else {
    document.querySelector("#content-wrapper").classList.add("hidden");
  }
}
</script>

